.description__card-cloud {
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), url(../../../images-description/third-card-img.png);
    background-size: cover;
}

.description__card-cloud:hover {
    background: linear-gradient(180deg, #009FAC 0%, rgba(224, 240, 255, 0) 100%, rgba(0, 159, 172, 0) 100%), url(../../../images-description/third-card-img.png);
    background-size: cover;
    background-color: #009FAC;
}

@media screen and (max-width: 767px) {
    .description__card-cloud {
        background-image: none;
        background-color: #fff;
    }

    .description__card-cloud:hover {
        background-image: none;
        background-size: cover;
        background-color: #009FAC;
    }
}